@import '_variables.scss';


/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    background-color: $Magnolia;
}

h1{
    color: $Marineblue;
    font-size: 35px;
    margin-bottom: 0.5rem;
}


span{
    font-size: 16px;
    color: $Coolgray;
}


/* CLASSES */
.flex{
    display: flex;
}

.main{
    width: 70vw;
    height: 600px;
    margin: 10vh auto;
    background-color: $White;
    border-radius: 1rem;
}

/*-- Sidebar --*/

.sidebar{
    width: 31vw;
    height: auto;
    margin: 1rem 2rem 1rem 1rem;
    background-image: url('/assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;

    .check{
        background-color: $Magnolia;
        span{
            color: black;
        }
    }
}   

#checked-step{
    width: 15vw;
    height: auto;
    margin: 2.5rem 2rem auto;

    li{
        color: $White;
        margin-bottom: 2rem;
        list-style: none;
           
    }
}   

.step-checkmark{
    width: 2.5rem;
    height: 2.5rem;
    text-align:center;
    margin-right: 1rem;
    border: 1px solid $White;
    border-radius: 50%;
    position: relative;
    top: 3px;
    span {
        color: $White;
        font-size: 14px;
        font-weight: bold;
        position: relative;
        top: 8px;
    }
}

.step-info{
    
    h4{
        margin-top: 0.2rem;
        }
}


/*-- step container --*/

.step-5,.step-2,.step-3,.step-4{
    display: none;
}

.step-container{
    width: 90%;
    height: auto;
    flex-direction: column;
    
}

.steps {
    height: 55vh;
    margin: 4rem 3rem 0 3rem;
    
}

/* one */
.step-1{

    form{
        margin-top: 2rem;
    }
    
    label{
        color: $Marineblue;
    }

    input::placeholder{
        color: $Marineblue;
        font-size: 16px;
        font-weight: 700;
        opacity: 0.5;
    }
   
    input[type=text], input[type=email]{
        display: block;
        width: 35vw;
        height: 7vh;
        padding: 1rem;
        margin-top: 0.5rem;
        border: 1px solid $Lightgray;
        border-radius: 7px;

        &:focus{
            outline-color: $Pastelblue;
        }
    }

    .error-msg{
        color: $Strawberryred;
        font-weight: 700;
        float: right;
        position: relative;
        right: 2rem;
        display: none;
        
    }

    .active{
        display: block;
    }
}

/* twoo */

.step-2{
    .subs-plan{
        margin-top: 3rem;
    }

    .plans {
        width: 11vw;
        height: 22vh;
        margin-right: 0.7rem;
        border: 2px solid $Lightgray;
        border-radius: 10px;
        
        img{
            margin: 1rem;
        }

        &:hover{
            cursor: pointer;
            border-color: $Purplishblue;
        }

    }

    .selected{
        background-color: $Magnolia;
        border-color: $Purplishblue;
    }

    .subs-price {
        position: relative;
        top: 1rem;
        margin: 1rem;

        h4{
            color: $Marineblue;
            margin-bottom: 0.5rem;
            font-weight: 500;
        }


        .bonus{
            display: none;
            font-size: 12px;
            color: $Purplishblue;
            margin-top: 2px;
        }
    }

    .switch-container {
        width: 35vw;
        height: 6vh;
        text-align: center;
        font-weight: 500;
        background-color: $Magnolia;
        margin-top: 2rem;
        border-radius: 5px;

        #monthly {
            color: $Marineblue;
        }

         .switch {
        position: relative;
        display: inline-block;
        margin: 1rem;
        width: 40px;
        height: 20px;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $Marineblue;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: $Lightgray;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px $Marineblue;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
    }
   
}

/* Three */

.step-3{

    .subs-package{
        margin-top: 2rem;

        .packages{
            width: 35vw;
            height:11vh;
            margin-bottom: 1rem;
            border-radius: 10px; 
            border: 1.5px solid $Purplishblue;
        }

        .packages:hover{
            cursor: pointer;
        }

        .price{
            color: $Purplishblue;
            float: right;
            position: relative;
            bottom: 1.5rem;
            right: 1rem;
        }

        .pack-title{
            width: 20vw;
            margin-left: 4rem;
        }

        #pack-check{
            width: 20px;
            height: 20px;
            position: relative;
            left: 1.5rem;
            top: 2rem;
            transition: .1s ease-in;
        }

        //#pack-check:checked + .packages{
            //background-color: $Magnolia;
        //}
    }


}

/* for */

.step-4{

    .summary{
        width: 35vw;
        height: 35vh;
        margin-top: 2rem;

        .Total{
            position: relative;
            top: 2rem;
            left: 1.5rem;
        }

        #total{
            float: right;
            position: relative;
            top: 2rem;
            right: 1rem;
            font-size: 20px;
            font-weight: 700;
            color: $Purplishblue;
        }

        .sum-price{
            float: right;
            
        }

    }

    .resume-yr{
        width: 90%;
        height: 40%;
        border-bottom: 1px solid $Lightgray;
        margin: 1rem auto;
        #res-yr, a{
            position: relative;
            top: 1rem;
        }

        #res-yr, #price-plan{
            color: $Marineblue;
            font-weight: 500;
        }

        #price-plan{
            float: right;
            position: relative;
            top: 1.5rem;
        }

    }

    .resume-services{
        width: 90%;
        height: 60%;
        margin: 1rem auto;
        
        
        #res-service, #res-storage{
            position: relative;
            top: 1rem;  
        }

        #res-storage{
            position: relative;
            top: 2rem;
        }

        #price-service, #price-storage{
            float: right;
            position: relative;
            top: 1rem;
        }

        #price-storage{
            position: relative;
            top: 2rem;
        }

    }
    

    .resume{
        height: 25vh;
        border-radius: 10px;
        background-color: $Magnolia;
        
    }
}

/* thk u */

.step-5{
    text-align: center;

    .thk-you{
        margin-top: 7rem;
    }

    img{
        margin-bottom: 2rem;
    }
    
    h1{
        margin-bottom: 1rem;
    }

    p{
        color: $Coolgray;
        line-height: 25px;
    }
    
}

/* buttons */
.btns{
    width: 35vw;
    margin-left: 3rem;
   
   
    button{
        width: 10.5vw;
        height: 6vh;
        border-radius: 0.5rem;
        border-style: none;
        color: $White;
        font-size: 16px;
        background-color: $Marineblue;
    }

    .nxt-btn{
        margin-left: 15rem;
        &:hover{
            cursor: pointer;
            background-color: $Purplishblue;
        }
    }

    .prvs-btn {
        display: none;
        background-color: $White;
        color: $Marineblue;
        font-weight: 700;
        
        &:hover{
            cursor: pointer;
        }
    }
}

